body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align:;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
   background:url(mahachulalong-mini1.jpg);
   background-size:cover;
}

nav {
    display: flex;
    flex-direction: column;
    align-items:center ;
    margin-top: 50px;
   
}

nav button {
    background-color: #444;
    border: bluve;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
    width: 150px;
    text-align: center;
    

}

nav button a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 20px;
}

nav button:hover {
    background-color: #555;
}

.intro {
    color: #000000;
    font-size: 50px;
    font-family: verdana;
    margin: 50px 0;
    text-align: center;
}

.intro h {
    margin: 10;
}

